sudo: required

language: python

python:
  - "3.5"

env:
  global:
    - FLASK_CONFIG=test
    - MEMCACHED_HOST=localhost

services:
  - docker
  - mysql
  - memcached

before_install:
  - mysql -u root -e 'CREATE DATABASE benwaonline_test;'
  - mysql -u root -e "GRANT ALL PRIVILEGES ON benwaonline_test.* TO 'root'@'%';";
  # - docker build -t goosechooser/benwaonline-api:test .
  # - docker run -d goosechooser/benwaonline-api:test
  # - docker ps -a

install:
  - pip install -r requirements.txt
  - pip install .

script:
  - pytest tests

after_success:
  - docker build -t benwaonline-api:docker .
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker tag benwaonline-api:docker "$DOCKER_USERNAME"/benwaonline-api:latest
      docker push "$DOCKER_USERNAME"/benwaonline-api;
    else
      docker tag benwaonline-api:docker "$DOCKER_USERNAME"/benwaonline-api:dev;
      docker push "$DOCKER_USERNAME"/benwaonline-api:dev;
    fi