sudo: required

language: python

python:
  - "3.6"

env:
  global:
    - FLASK_CONFIG=test
    - MYSQL_HOST=127.0.0.1
    - MEMCACHED_HOST=localhost
    - MEMCACHED_PORT=11211

services:
  - docker
  - mysql
  - memcached

before_install:
  - mysql -u root -e 'CREATE DATABASE benwaonlineapi_test;'
  - mysql -u root -e "GRANT ALL PRIVILEGES ON benwaonlineapi_test.* TO 'root'@'%';";

install:
  - pip install -r requirements.txt
  - pip install -r requirements-testing.txt
  - pip install .

script:
  - pytest tests

after_success:
  - docker build -t benwaonline-api .
