[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
colorama = "*"
attrs = "*"
coverage = "*"
pluggy = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"
requests-mock = "*"

[packages]
alembic = "*"
asn1crypto = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
cryptography = "*"
ecdsa = "*"
future = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
marshmallow-jsonapi = "*"
mimerender = "*"
pycparser = "*"
pycryptodome = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
python-jose = "*"
python-mimeparse = "*"
redis = "*"
requests = "*"
six = "*"
urllib3 = "*"
Flask = "*"
Flask-Caching = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-REST-JSONAPI = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PyMySQL = "*"
SQLAlchemy = "*"
Werkzeug = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
